@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: 0;
  transition: all 0.2s linear;
  /* background-color: #131212; */
}

::selection {
  background-color: #ffd613;
  color: #fff;
}

/* For Webkit browsers like Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

body::-webkit-scrollbar {
  width: 6px;
}

.teamMember::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background-color: #f0f2f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffd613;
}

/* For Button Border */
/* .gradient-border {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
}

.gradient-border::before,
.gradient-border::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
  z-index: -1;
}

.gradient-border::before {
  top: -2px;
  left: -2px;
  border-image: linear-gradient(to right, #FFD700 0%, #8E780D 100%);
  border-image-slice: 1;
}

.gradient-border::after {
  bottom: -2px;
  right: -2px;
  border-image: linear-gradient(to right, #FFD700 0%, #8E780D 100%);
  border-image-slice: 1;
} */

