@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  outline: 0;
  transition: all 0.2s linear;
}

::selection {
  background-color: #ffd613;
  color: #fff;
}

/* For Webkit browsers like Chrome and Safari */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

body::-webkit-scrollbar {
  width: 6px;
}

.teamMember::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-track {
  background-color: #f0f2f5;
}

body::-webkit-scrollbar-thumb {
  background-color: #ffd613;
}
